<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav>
    <ul>
        <li>
            <a href="{%url "formulario"%}">Registrar vuelo</a>
        </li>
        <li>
            <a href="">Listar vuelos</a>
        </li>
        <li>
            <a href="">Estadísticas de vuelos</a>
        </li>
    </ul>
</nav>
<body>
    <h1>Hola sí</h1>

{% block content %}
{% endblock %}
</body>
</html>