{% extends "index.html" %}
{%block content%}
    {% if form.errors %}
                <ul id="errors">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nombre">Nombre:</label>
                     <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre">

                    <label for="precio">Precio:</label>
                    <input type="number" id="precio" name="precio"placeholder="Ingrese el precio">
                    <select name="tipo">
                        <option value="nacional">Nacional</option>
                        <option value="internacional">Internacional</option>
                      </select>
                </div>
                <button type="submit">Registrar</button>
            </form>
{% endblock %}